<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <title>Edit Entry</title>
</head>
<body class="new-journal">
    <%- include('../partials/header.ejs')%>
    <div class = "container">
    <form class= "form-group new-journal-form" action="/entries/<%=entries._id%>?_method=PUT" method="POST">
    Date: <input class="form-control" type="date" name="date" value="<%=entries.date%>">
    Title: <input class="form-control" type="text" name = "title" value = "<%=entries.title%>"><br>
    Post: <textarea class="form-control" name="entry" cols="80" rows="10"> <%=entries.entry%> </textarea><br>
    <input class="form-control" type="submit" value = "Update">
    </form>
    </div>
</body>
<%- include('../partials/footer.ejs')%>
</html>