<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Log an activity here</title>
</head>
<body class="main-pages">
        <%- include('../partials/header.ejs')%>
        <main>
        <a href=/entries/new> add new entries</a>
    <h1>Past journal entries here</h1>
    <ul>
        <%  for(let i=0; i < entries.length; i++) {  %>
        <li>
            <a href="/entries/<%=entries[i]._id%>"><%=entries[i].title%></a>
        </li>
        <% } %> 
    </ul>
        </main>
</body>
<%- include('../partials/footer.ejs')%>
</html>