<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head') %> 
    <title>Journal Entry: (date here) </title>
</head>
<body class = "new-journal">
    <%- include('../partials/header.ejs')%>
    <main class="journal-show">
    <a href="/entries/<%=entries.id %>/edit">Edit</a>
    <h3><%=entries.title%></h3> 
    Date: <%= entries.date.toString().slice(0,15) %> <br> <br>  
    <%= entries.entry %> <br>
    <form action="/entries/<%= entries.id %>?_method=DELETE" method="POST">
        <input class = "btn btn-danger" type="submit" value="DELETE">
    </form><br>
    <div class="show-journal-image">
        <img src="<%= entries.picture %>" width="256" height="256">
    </div>
</main>
</body>
<%- include('../partials/footer.ejs')%>
</html>