<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Past Activities</title>
</head>
<body class="main-pages">
    <%- include('../partials/header.ejs')%> 
    <a class="link-light" href = "/activities/new">Log New Entry</a> 
    <div class="counter">
    Activity Counter: <%=activities.length%> <br>
    Activity Streak: You have submitted activities X days in a row
    </div><br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"> Date </th>
                <th scope = "col">Activity</th>
                <th scope = "col">Duration (minutes)</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i <activities.length; i++) { %>
            <tr>
                <td scope = "row">
                    <a class="link-light" href="/activities/<%=activities[i]._id%>"><%=activities[i].Date.toString().slice(0,15) %> </a>
                </td>  
                <td scope = "row"><%=activities[i].Title%></td>
                <td scope = "row"><%=activities[i].Duration%></td>
                <% } %>
            </tr>
        </tbody>
    </table>
    </main>
</body>
<%- include('../partials/footer.ejs')%>
</html>