<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title><%=activities.Title%> <%= activities.Date.toString().slice(4,15) %> </title>
</head>
<body class="main-pages">
    <%- include('../partials/header.ejs')%>
    <main class = "activity-show">
        <a href="/activities/<%=activities.id %>/edit">Edit</a> <br>
        <%= activities.Date.toString().slice(0,15) %> 
        <h2>Activity: <%=activities.Title%></h2><br>
        <h4>Duration: <%=activities.Duration%> Minutes </h4> <br>
        <div>
            Notes: <%= activities.Notes %> <br>
            <img src="<%= activities.Photo%>" width="256" height="256"><br> 
        </div> <br>
        <form class= 'form-group' action="/activities/<%= activities.id %>?_method=DELETE" method="POST">
            <input class="btn btn-danger" type="submit" value="DELETE">
        </form><br>
    </main>
</body>
<%- include('../partials/footer.ejs')%>
</html>